@model IEnumerable<kl753916MIS4200.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2>MIS Courses</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered">
    <tr> 
        <th>
            @Html.DisplayNameFor(model => model.courseDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.creditHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.courseRating)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.courseDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.creditHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.courseRating)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.courseID }) |
            @Html.ActionLink("Details", "Details", new { id=item.courseID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.courseID })
        </td>
    </tr>
}

</table>
