@model kl753916MIS4200.Models.CourseDetail

@{
    ViewBag.Title = "Delete";
}

    <div class="alert alert-danger">

        <h2>Course Detail Delete</h2>

        <p><span class="glyphicon glyphicon-trash"></span></p>

        <h3>Are you sure you want to delete these detail of this course?</h3>

    </div>
<div>
    <h4>CourseDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.courseDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.courseDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grade)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
