@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>College of Business</h2>
    <p class="lead">Here is a link to Ohio University's College of Business homepage. It is a great tool to access different pages about the COB.</p>
    <p><a href="https://business.ohio.edu/" class="btn btn-primary btn-lg">Learn more about the COB &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>MVC</h2>
        <p>
            Here are links to some sample models. Check it out!
        </p>
        @Html.ActionLink("Customers", "Index", "Customers")<br />
        @Html.ActionLink("Orders", "Index", "Orders")<br />
        @Html.ActionLink("Products", "Index", "Products")
       



    </div>
    <div class="col-md-5">
        <h2>Links to my SD2</h2>
        <p>I did a many to many relationship between Students and Courses with Course Details as an inner join</p>
        @Html.ActionLink("Students", "Index", "Students")<br />
        @Html.ActionLink("Courses", "Index", "Courses")<br />
        @Html.ActionLink("CourseDetails", "Index", "CourseDetails")<br />



    </div>
    <div class="col-md-4">
        <h2>Ohio Women in Business</h2>
        <p>If you are looking for a new organization to join, I would recommend Ohio Women in Business, also known as OWIB. I am currently a member and it is a great tool for networking and meeting new people. If you are interested in joining then click the link below to learn more.</p>
        <p><a class="btn btn-default" href="https://business.ohio.edu/future-students/student-life/student-orgs-and-clubs/">OWIB Student Org. &raquo;</a></p>
    </div>
</div>